/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main css */

#main-container {
  border: 2px solid rebeccapurple;

  /* max-width: 240px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#calc-container {
  /* border: 5px solid red; */
  background-color: #242424;
  min-width: 360px;
  max-width: 360px;
  min-height: 490px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: stretch; */
}

#history-container {
  color: white;
  background-color: #3f3f3f;
  margin-top: 45px;
  /* border: 2px solid brown; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /* background-color: rgb(201, 201, 201); */
  min-height: 120px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  /* justify-content: center; */
}

.history {
  padding: 0 12px;
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  align-items: center;
  /* display: flex;
  align-items: stretch; */
}

#input-container {
  /* border: 3px solid green; */
  background-color: #353535;
  color: white;
  min-height: 48px;
  max-height: 48px;
  padding: 0 12px;
  padding-top: 12px;
}
#keyb-main {
  /* display: flex; */
  /* flex: 1; */
  /* justify-content: center;
  align-items: center; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyb-container {
  flex: 1;
  /* border: 3px solid peru; */
  background-color: #242424;
  margin: 3px 3px;
  padding: 3px;
  min-height: 248px;
  max-height: 248px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  grid-gap: 5px;
}
#key,
#no,
.oper {
  /* outline: 1px solid red; */
  /* flex: 1; */
  color: white;
  border-radius: 6px;
  border: none;
  background-color: #393939;
  font-weight: 400;
  display: grid;
  justify-content: center;
  align-items: center;
}

#no {
  background-color: #505050;
  font-weight: 700;
}

#key.equal {
  background-color: #e66100;
  grid-column: 3/5;
}

#key:hover,
#no:hover,
.oper:hover {
  background-color: #5c5c5c;
}

#key.equal:hover {
  background-color: #ff6a00;
}
